* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html,
body {
  background-color: #EAEAEA;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  height: 100%;
}